# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na temperatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [1]:
import pandas as pd
import numpy as np

# Seu código aqui
dados = [-0.08,-0.27,0.12,-0.03,0.26,0.40,1.02]
anomalia_temp = pd.Series(dados)
anomalia_temp

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [6]:

# seu código aqui
anomalia_temp = pd.Series(dados, index=[1900,1920,1940,1960,1980,2000,2020])
anomalia_temp

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [7]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
anomalia_temp_dict = pd.Series(dic_temperaturas)
anomalia_temp_dict

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [8]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui

df = pd.DataFrame(arr)
df

             0           1           2
0   112.633644   99.660188  107.500481
1    98.412711   86.499277   87.369411
2   108.151166   87.956056   90.780492
3    97.227910   94.330801   95.758094
4    99.469837  114.514384  113.331752
5    92.204943  110.128221  102.440019
6    84.965351  118.036235   98.450957
7    92.603239  101.126002   98.450988
8    92.388294   96.148470  106.095330
9   102.747650   91.635779   91.422156
10  102.822138  110.002005   97.625575
11  103.083106   96.576780   99.435046
12  101.295365  100.088463   89.499031
13  115.076538   99.549326   81.736136
14  107.189660  109.914488   71.877258
15  105.372247   98.842797  102.753313
16   98.206980   96.686013   88.759189
17   98.400954   92.932108   80.167894
18  108.413915  111.605455  108.284488
19  124.135645  105.632048   96.084833

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [13]:
#seu código aqui
df.columns = ['x1','x2','x3']
df.index = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
df

            x1          x2          x3
1   112.633644   99.660188  107.500481
2    98.412711   86.499277   87.369411
3   108.151166   87.956056   90.780492
4    97.227910   94.330801   95.758094
5    99.469837  114.514384  113.331752
6    92.204943  110.128221  102.440019
7    84.965351  118.036235   98.450957
8    92.603239  101.126002   98.450988
9    92.388294   96.148470  106.095330
10  102.747650   91.635779   91.422156
11  102.822138  110.002005   97.625575
12  103.083106   96.576780   99.435046
13  101.295365  100.088463   89.499031
14  115.076538   99.549326   81.736136
15  107.189660  109.914488   71.877258
16  105.372247   98.842797  102.753313
17   98.206980   96.686013   88.759189
18   98.400954   92.932108   80.167894
19  108.413915  111.605455  108.284488
20  124.135645  105.632048   96.084833

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [14]:
# seu código aqui
df['media']=(df['x1']+df['x2']+df['x3'])/3
df

            x1          x2          x3       media
1   112.633644   99.660188  107.500481  106.598104
2    98.412711   86.499277   87.369411   90.760466
3   108.151166   87.956056   90.780492   95.629238
4    97.227910   94.330801   95.758094   95.772268
5    99.469837  114.514384  113.331752  109.105324
6    92.204943  110.128221  102.440019  101.591061
7    84.965351  118.036235   98.450957  100.484181
8    92.603239  101.126002   98.450988   97.393410
9    92.388294   96.148470  106.095330   98.210698
10  102.747650   91.635779   91.422156   95.268528
11  102.822138  110.002005   97.625575  103.483240
12  103.083106   96.576780   99.435046   99.698310
13  101.295365  100.088463   89.499031   96.960953
14  115.076538   99.549326   81.736136   98.787333
15  107.189660  109.914488   71.877258   96.327135
16  105.372247   98.842797  102.753313  102.322786
17   98.206980   96.686013   88.759189   94.550727
18   98.400954   92.932108   80.167894   90.500319
19  108.413915  111.605455  108.284488  109.434619
20  124.135645  105.632048   96.084833  108.617509

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [15]:
# seu código aqui
df['ln'] = np.log(df['media'])
df

            x1          x2          x3       media        ln
1   112.633644   99.660188  107.500481  106.598104  4.669066
2    98.412711   86.499277   87.369411   90.760466  4.508224
3   108.151166   87.956056   90.780492   95.629238  4.560479
4    97.227910   94.330801   95.758094   95.772268  4.561973
5    99.469837  114.514384  113.331752  109.105324  4.692314
6    92.204943  110.128221  102.440019  101.591061  4.620956
7    84.965351  118.036235   98.450957  100.484181  4.610000
8    92.603239  101.126002   98.450988   97.393410  4.578759
9    92.388294   96.148470  106.095330   98.210698  4.587115
10  102.747650   91.635779   91.422156   95.268528  4.556700
11  102.822138  110.002005   97.625575  103.483240  4.639410
12  103.083106   96.576780   99.435046   99.698310  4.602149
13  101.295365  100.088463   89.499031   96.960953  4.574308
14  115.076538   99.549326   81.736136   98.787333  4.592969
15  107.189660  109.914488   71.877258   96.327135  4.567750
16  105.372247   98.842797  102.753313  102.322786  4.628132
17   98.206980   96.686013   88.759189   94.550727  4.549136
18   98.400954   92.932108   80.167894   90.500319  4.505353
19  108.413915  111.605455  108.284488  109.434619  4.695327
20  124.135645  105.632048   96.084833  108.617509  4.687833